header{
    background-color:#000080;
    width:100%;
    height:200px;    
    }    
footer{
    background-color:#006400 ;
    width:100%;
    height:200px;
         }
table{
    background-color:grey;
    width:100%;

}
#een
{
width:100px;
height:100px;
background-color :#BDB76D;
color:#000080;


}
#twee{
    width:100px;
height:100px;
background-color :#ffd700;
color:#00006b;






}
#drie{
    width:100px;
height:100px;
background-color :#f0e68c;
color:#0000cd;

}
#vier{
    width:100px;
    height:100px;
    background-color :#ffff00;
    color:#0000ff;
    



} 
#vijf{width:100px;
    height:100px;
    background-color :#eee8AA;
    color:#191970;
    


}
#zes{
    width:100px;
    height:100px;
    background-color :#ffe4b5;
    color:#4169e1;
    


}
#zeven{width:100px;
    height:100px;
    background-color :#ffefd5;
    color:#4682b4;
    

}
#acht{width:100px;
    height:100px;
    background-color :#fafad2;
    color:#1e90ff;
    

}
#negen{width:100px;
height:100px;
background-color :#fffacd;
color:#00bfff;


}
#tien{
    width:100px;
height:100px;
background-color :#ffffe0;
color:#6495ed;

}
#elf{
    width:100px;
    height:100px;
    background-color :#800000;
    color:#87ceeb;
    

}
#twaalf{
    width:100px;
    height:100px;
    background-color :#a52a2a;
    color:#87cefa;
       
}
#dertien{
    width:100px;
height:100px;
background-color :#8b4513;
color:#b0c4de;

}
#veertien{
    width:100px;
height:100px;
backgrounDd-color :#A0522d;
color:#Add8e6;


}
#vijftien{
    width:100px;
    height:100px;
    background-color :#d2691e;
    color:#b0e0e6;
       
}
#zestien{
    width:100px;
    height:100px;
    background-color :#B8860b;
    color:#4b0082;
       
}



         

